    <li>
        {%- if draft.url -%}
            <a class="pub-title" href="{{ draft.url }}">{{ draft.title }}</a>
        {%- else -%}
            <span class="pub-title">{{ draft.title }}</span>
        {%- endif -%}
        {%- if draft.year %} ({{ draft.year }}){% endif -%}
        {%- if draft.coauthors %} (with
            {%- for c in draft.coauthors -%}
                {%- if forloop.first %} {{ c }}
                {%- elsif forloop.last %}{% if forloop.length > 2 %},{% endif %} and {{ c }}
                {%- else %}, {{ c }}
                {%- endif -%}
            {%- endfor -%})
        {%- endif -%}
        {%- for link in draft.misclinks %} [<a href="{{ link.url }}">{{ link.name }}</a>]{% endfor -%}
        {%- if draft.rr -%}
            <br> R&R at <span class="pub-journal">{{ draft.rr }}</span>
        {%- endif -%}
    </li>
