    <li>
        <span class="pub-title">{{ draft.title }}</span>
        {%- if draft.year %} ({{ draft.year }}){% endif -%}
        {%- if draft.rr -%}
            <br><span class="pub-misctext"> R&R at </span><span class="pub-journal">{{ draft.rr }}</span>
        {%- endif -%}
        {%- if draft.coauthors %}<br> <span class="pub-coauthors">(with
            {%- for c in draft.coauthors -%}
                {%- if forloop.first %} {{ c }}
                {%- elsif forloop.last %}{% if forloop.length > 2 %},{% endif %} and {{ c }}
                {%- else %}, {{ c }}
                {%- endif -%}
            {%- endfor -%})</span>
        {%- endif -%}
        <span class="pub-links">
        {%- if draft.arxiv -%}
            &nbsp;[<a href="{{ draft.arxiv }}">arXiv</a>] 
        {%- endif -%}
        {%- if draft.misclinks -%}
            {%- for link in draft.misclinks -%}
            &nbsp;[<a href="{{ link.url }}">{{ link.name }}</a>]
            {%- endfor -%}
        {%- endif -%}
        {%- if draft.note -%}<br>
        {{ draft.note }}
        {%- endif -%}
        </span>
    </li>
