
<section class="top-block">
<h2>Education and Experience</h2>
<ul class="pub-list">
    <li>
        <span class="duration">2026.05&thinsp;-&thinsp;Present:</span> 
        <span class="position">Associate Professor</span> <br class="on-mobile"> 
        <a href="https://www.kier.kyoto-u.ac.jp/en/">Institute of Economic Research</a>, <a href="https://www.kyoto-u.ac.jp/en">Kyoto University</a></li>
    <li>
        <span class="duration">2020.04&thinsp;-&thinsp;2026.04</span> 
        <span class="position">Assistant Professor</span> <br class="on-mobile"> 
        <a href="https://www.kier.kyoto-u.ac.jp/en/">Institute of Economic Research</a>, <a href="https://www.kyoto-u.ac.jp/en">Kyoto University</a></li>
    <li>
        <span class="duration">2016.10&thinsp;-&thinsp;2020.03:</span> 
        <span class="position">Assistant Professor</span> <br class="on-mobile">
        <!-- Department of Civil and Environmental Engineering, <br class="on-mobile"> -->
        <a href="https://www.eng.tohoku.ac.jp/english/">School of Engineering</a>, <a href="https://www.tohoku.ac.jp/en/">Tohoku University</a></li>
    <li>
        <span class="duration">2014.04&thinsp;-&thinsp;2016.09:</span> 
        <span class="position">Research Fellow&thinsp;(DC1)</span> <br class="on-mobile"> 
        <a href="https://www.jsps.go.jp/english/">Japan Society for the Promotion of Science</a></li>
    <li>
        <span class="duration">2016.09:</span> 
        <span class="position">Ph.D.&thinsp;(Information Sciences)</span> <br class="on-mobile">
        <!-- Department of Human-Social Information Sciences,<br class="on-mobile">  -->
        <a href="https://www.is.tohoku.ac.jp/en/">Graduate School of Information Sciences</a>, <a href="https://www.tohoku.ac.jp/en/">Tohoku University</a> <br>
        (Supervisor: <a href="http://www.plan.civil.tohoku.ac.jp/~akamatsu/Akamatsu-E.htm">Takashi Akamatsu</a>)</li>
    <li>
        <span class="duration">2014.03:</span> 
        <span class="position">Master of Information Sciences</span> <br class="on-mobile">
        <!-- Department of Human-Social Information Sciences,<br class="on-mobile">  -->
        <a href="https://www.is.tohoku.ac.jp/en/">Graduate School of Information Sciences</a>, <a href="https://www.tohoku.ac.jp/en/">Tohoku University</a></li>
    <li>
        <span class="duration">2012.03:</span> 
        <span class="position">Bachelor of Engineering</span> <br class="on-mobile">
        <!-- Department of Civil Engineering and Architecture, <br class="on-mobile">  -->
        <a href="https://www.eng.tohoku.ac.jp/english/">School of Engineering</a>, <a href="https://www.tohoku.ac.jp/en/">Tohoku University</a></li>
    <li>
        <span class="duration">2008.03:</span> <a href="https://www.fukashi-hs.ed.jp/">長野県松本深志高等学校</a> 卒業</li>
</ul>
</section>