
<section class="top-block">
<h2>Education and Experience</h2>
<ul class="ref-list">
    <li>
        <span class="duration">2020.04&thinsp;-&thinsp;Present:</span> 
        <span class="position">Assistant Professor</span> <br class="on-mobile"> 
        Institute of Economic Research, Kyoto University</li>
    <li>
        <span class="duration">2016.10&thinsp;-&thinsp;2020.03:</span> 
        <span class="position">Assistant Professor</span> <br class="on-mobile">
        <!-- Department of Civil and Environmental Engineering, <br class="on-mobile"> -->
        School of Engineering, Tohoku University</li>
    <li>
        <span class="duration">2014.04&thinsp;-&thinsp;2016.09:</span> 
        <span class="position">Research Fellow&thinsp;(DC1)</span> <br class="on-mobile"> 
        Japan Society for the Promotion of Science</li>
    <li>
        <span class="duration">2016.09:</span> 
        <span class="position">Ph.D.&thinsp;(Information Sciences)</span> <br class="on-mobile">
        <!-- Department of Human-Social Information Sciences,<br class="on-mobile">  -->
        Graduate School of Information Sciences, Tohoku University. <br>
        (Thesis supervisor: <a href="http://www.plan.civil.tohoku.ac.jp/~akamatsu/Akamatsu-E.htm">Takashi Akamatsu</a>)</li>
    <li>
        <span class="duration">2014.03:</span> 
        <span class="position">Master of Information Sciences</span> <br class="on-mobile">
        <!-- Department of Human-Social Information Sciences,<br class="on-mobile">  -->
        Graduate School of Information Sciences, Tohoku University.</li>
    <li>
        <span class="duration">2012.03:</span> 
        <span class="position">Bachelor of Engineering</span> <br class="on-mobile">
        <!-- Department of Civil Engineering and Architecture, <br class="on-mobile">  -->
        School of Engineering, Tohoku University</li>
    <li>
        <span class="duration">2008.03:</span> 長野県松本深志高等学校 卒業</li>
</ul>
</section>