<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.author }}">
<meta name="description" lang="en" content="{{ site.description }}">
<title>
{%- if page.layout == "post" -%}
    {{ page.date | date: "%y.%m.%d" }}: {% if page.running_head %}{{ page.running_head }}{% else %}雑記{% endif %}
{%- else -%}
    {{ page.title }}
{%- endif -%}
</title>
<link rel="preload" href="{{ '/assets/font/cmunss.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> 
<link rel="preload" href="{{ '/assets/font/cmunsx.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/font/cmunbx.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/feed.xml' | relative_url }}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Minoru Osawa",
  "image": "https://www.minoruosawa.com/assets/img/minoru_osawa.jpg",
  "jobTitle": "Assistant Professor",
  "url": "https://www.minoruosawa.com",

  "worksFor": {
    "@type": "Organization",
    "name": "Kyoto Institute of Economic Research, Kyoto University",
    "url": "https://www.kier.kyoto-u.ac.jp/"
  },

  "affiliation": {
    "@type": "Organization",
    "name": "Kyoto University",
    "url": "https://www.kyoto-u.ac.jp/"
  },

  "knowsAbout": [
    "Urban Economics",
    "Regional Economics",
    "Spatial Economics",
    "Transportation Economics",
    "Evolutionary Game Theory",
    "Learning in Games"
    ],

  "sameAs": [
    "https://scholar.google.co.jp/citations?user=qKxF-dkAAAAJ",
    "https://github.com/minoruosawa",
    "https://orcid.org/0000-0001-9067-5375",
    "https://x.com/minoruosawa",
    "https://researchmap.jp/minoru_osawa",
    "https://www.researchgate.net/profile/Minoru-Osawa",
    "https://www.kier.kyoto-u.ac.jp/faculty/395/",
    "https://ideas.repec.org/e/pos123.html",
    "https://www.semanticscholar.org/author/Minoru-Osawa/46786389"
  ],

  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "Tohoku University",
    "url": "https://www.tohoku.ac.jp/en/"
  },

  "workLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Kyoto",
      "addressCountry": "JP"
    }
  },

  "description": "Minoru Osawa is an assistant professor at Kyoto Institute of Economic Research (KIER), Kyoto University, Japan. His research topics are in urban and regional economics, and he explores how human behavior unfolds across space and time.",

  "alternateName": [
    "大澤 実",
    "おおさわ みのる"
  ]
}
</script>