<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="{{ site.author }}">
{% if page.description %}<meta name="description" lang="en" content="{{ page.description }}">{% endif %}
<title>
{%- if page.layout == "post" -%}
    {{ page.date | date: "%y.%m.%d" }}: {% if page.running_head %}{{ page.running_head }}{% else %}雑記{% endif %}
{%- else -%}
    {{ page.title }}
{%- endif -%}
</title>
<link rel="preload" href="{{ '/assets/font/cmunss.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> 
<link rel="preload" href="{{ '/assets/font/cmunsx.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/font/cmunbx.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="icon" type="image/png" href="{{ '/favicon.png' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/feed.xml' | relative_url }}">
{% if page.layout == "post" %}
{% include schema_post.html %}
{% elsif page.url == "/" or page.schema_type == "profile" %}
{% include schema_profile.html %}
{% else %}
{% include schema_webpage.html %}
{% endif %}
