<section class="top-block">
<h2>Other</h2>

<ul class="ref-list other-list">
    <li>Born in 1990. Love dogs. Love hiking. Enjoy drawing and painting. Play guitar.</li>
    <li>Other online profiles: <a href="https://x.com/{{ site.twitter_username }}">@MinoruOsawa</a><span class="separator">・</span><a href="https://www.researchgate.net/profile/Minoru-Osawa">ResearchGate</a><span class="separator">・</span><a href="https://orcid.org/0000-0001-9067-5375">ORCID</a><span class="separator">・</span><a href="https://www.semanticscholar.org/author/Minoru-Osawa/46786389">Semantic Scholar</a></li>
    <li>Researchers interested in presenting their work at our <a href="https://www.kier.kyoto-u.ac.jp/en/workshop_category/urban-economics/" style="font-weight:bold;">Urban Economics Workshop</a> are welcome to contact me.</li>
</ul>

</section>