<div id="profile">
    <div id="profile_pic-wrapper">
        <img src="/assets/img/minoru_osawa.webp" fetchpriority="high" width="250" height="250" alt="Minoru Osawa" id="profile_pic">
    </div>
    <div id="description-wrapper">
        <h1>Minoru&thinsp;OSAWA</h1>
        <p>Welcome! Please call me <b>Mino</b>. I am an associate professor at the <a href="https://www.kier.kyoto-u.ac.jp/en/">Institute of Economic Research</a>, Kyoto University. My research interests include spatial economics, transportation science, and learning in games.</p>
        <ul class="info">
        <li class="em"><img src="/assets/img/em.png" id="em-img"> <button id="cpem" class="em-button" type="button">Copy</button><noscript>This site requires JavaScript.</noscript></li>
        <li class="lnks"><a href="/assets/CV-Osawa.pdf" id="cv-link">CV</a><span class="separator">・</span><a href="https://scholar.google.co.jp/citations?user=qKxF-dkAAAAJ">Google Scholar</a><span class="separator">・</span><a href="https://researchmap.jp/minoru_osawa">researchmap</a></li>
        <li class="loc"><a href="https://maps.app.goo.gl/E2Qxmj5z11s1J57G9">Kyoto, Japan</a></li>
        </ul>

        <script>
        const EME = "b3Nhd2EubWlub3J1LjR6QGt5b3RvLXUuYWMuanA=";
        document.getElementById("cpem").addEventListener("click", async (e) => {
            const ADDR = atob(EME);
            try {
            await navigator.clipboard.writeText(ADDR);
            e.target.textContent = "Copied";
            setTimeout(() => { e.target.textContent = "Copy"; }, 2000);
            } catch {
            e.target.textContent = "Failed";
            setTimeout(() => { e.target.textContent = "Copy"; }, 2000);
            }
        });
        </script>
        
    </div>
</div>