    <li class="pub-item">
        <span class="pub-title">{{ paper.title }}</span>
        <br>
        <span class="pub-journal">{{ paper.journal }}</span>
        {%- if paper.state -%}, <span class="pub-state">{{ paper.state }}</span>.{%- endif -%}
        &nbsp;({{ paper.year }})
        {%- if paper.coauthors -%}
        <br class="on-mobile">
        <span class="pub-coauthors">(with {{ paper.coauthors | join: ', ' }})</span><br class="on-mobile">
        {%- endif -%}
        <span class="pub-links">
        {%- if paper.doi -%}
            <a href="{{ paper.doi }}" class="pub-doi">DOI</a> 
        {%- endif -%}
        {%- if paper.pdf -%}
            &emsp;<a href="{{ paper.pdf }}">PDF</a>
        {%- endif -%}
        {%- if paper.arxiv -%}
            &emsp;<a href="{{ paper.arxiv }}">arXiv</a> 
        {%- endif -%}
        {%- if paper.misclinks -%}
            {%- for link in paper.misclinks -%}
            &emsp;<a href="{{ link.url }}">{{ link.name }}</a>
            {%- endfor -%}
        {%- endif -%}
        </span>
    </li>
