@charset "UTF-8";

/* LaTeX colors (dvipsnames) */
$color-Apricot: #FBB982;
$color-Aquamarine: #00B5BE;
$color-Bittersweet: #C04F17;
$color-Blue: #2E2EFE;
$color-BlueGreen: #00B3B8;
$color-BlueViolet: #6456B7;
$color-BrickRed: #C62D42;
$color-Brown: #A62A2A;
$color-BurntOrange: #FF7034;
$color-CadetBlue: #5F9EA0;
$color-CarnationPink: #FFA6C9;
$color-Cerulean: #05B8CC;
$color-CornflowerBlue: #93CCEA;
$color-Cyan: #00FFFF;
$color-Dandelion: #FED85D;
$color-DarkOrchid: #9932CC;
$color-Emerald: #50C878;
$color-ForestGreen: #228B22;
$color-Fuchsia: #FF00FF;
$color-Goldenrod: #DAA520;
$color-Gray: #808080;
$color-Green: #00FF00;
$color-GreenYellow: #ADFF2F;
$color-JungleGreen: #29AB87;
$color-Lavender: #E6E6FA;
$color-LimeGreen: #32CD32;
$color-Magenta: #FF00FF;
$color-Mahogany: #C04000;
$color-Maroon: #800000;
$color-Melon: #FEBAAD;
$color-MidnightBlue: #191970;
$color-Mulberry: #C54B8C;
$color-NavyBlue: #000080;
$color-OliveGreen: #808000;
$color-Orange: #FFA500;
$color-OrangeRed: #FF4500;
$color-Orchid: #DA70D6;
$color-Peach: #FFDAB9;
$color-Periwinkle: #CCCCFF;
$color-PineGreen: #01796F;
$color-Pink: #FFC0CB;
$color-Plum: #DDA0DD;
$color-ProcessBlue: #00B0F0;
$color-Purple: #800080;
$color-RawSienna: #D68A59;
$color-Red: #FF0000;
$color-RedOrange: #FF5349;
$color-RedViolet: #C71585;
$color-Rhodamine: #E10098;
$color-RoyalBlue: #4169E1;
$color-RoyalPurple: #7851A9;
$color-RubineRed: #D10056;
$color-Salmon: #FA8072;
$color-SeaGreen: #2E8B57;
$color-Sepia: #704214;
$color-SkyBlue: #87CEEB;
$color-SpringGreen: #00FF7F;
$color-Tan: #D2B48C;
$color-Teal: #008080;
$color-TealBlue: #367588;
$color-Thistle: #D8BFD8;
$color-Turquoise: #40E0D0;
$color-Violet: #8F00FF;
$color-VioletRed: #F7468A;
$color-WildStrawberry: #FF43A4;
$color-Yellow: #FFFF00;
$color-YellowGreen: #9ACD32;
$color-YellowOrange: #FFAE42;

/* Japanese Colors */
$color-sakurairo: #fef4f4;  // さくらいろ
$color-azukiiro: #96514d;  // あずきいろ
$color-kogane: #e6b422;  // こがね
$color-moegiiro: #006e54;  // もえぎいろ
$color-kodaimurasaki: #895b8a;  // こだいむらさき
$color-usuzakura: #fdeff2;  // うすざくら
$color-karacha: #8d6449;  // からちゃ
$color-hajizome: #d9a62e;  // はじぞめ
$color-hanarokushou: #00a381;  // はなろくしょう
$color-nasukon: #824880;  // なすこん
$color-sakuranezu: #e9dfe5;  // さくらねず
$color-ameiro: #deb068;  // あめいろ
$color-kikuchibairo: #d3a243;  // きくちばいろ
$color-hisuiiro: #38b48b;  // ひすいいろ
$color-futaai: #915c8b;  // ふたあい
$color-tokinezu: #e4d2d8;  // ときねず
$color-rakudairo: #bf794e;  // らくだいろ
$color-yamabukicha: #c89932;  // やまぶきちゃ
$color-aomidori: #00a497;  // あおみどり
$color-kyoumurasaki: #9d5b8b;  // きょうむらさき
$color-nijiiro: #f6bfbc;  // にじいろ
$color-tsuchiiro: #bc763c;  // つちいろ
$color-karashiiro: #d0af4c;  // からしいろ
$color-mizuasagi: #80aba9;  // みずあさぎ
$color-ebizome: #7a4171;  // えびぞめ
$color-sangoiro: #f5b1aa;  // さんごいろ
$color-kigaracha: #b98c46;  // きがらちゃ
$color-mamegaracha: #8b968d;  // まめがらちゃ
$color-sabiasagi: #5c9291;  // さびあさぎ
$color-wakamurasaki: #bc64a4;  // わかむらさき
$color-ikkonzome: #f5b199;  // いっこんぞめ
$color-kuwazome: #b79b5b;  // くわぞめ
$color-kikujin: #6e7955;  // きくじん
$color-seiheki: #478384;  // せいへき
$color-benimurasaki: #b44c97;  // べにむらさき
$color-shishiiro: #efab93;  // ししいろ
$color-hajiiro: #b77b57;  // はじいろ
$color-yamabatoiro: #767c6b;  // やまばといろ
$color-omeshicha: #43676b;  // おめしちゃ
$color-umemurasaki: #aa4c8f;  // うめむらさき
$color-koubaiiro: #f2a0a1;  // こうばいいろ
$color-kitsurubami: #b68d4c;  // きつるばみ
$color-rikyuunezumi: #888e7e;  // りきゅうねずみ
$color-minatonezumi: #80989b;  // みなとねずみ
$color-ayameiro: #cc7eb1;  // あやめいろ
$color-usubeni: #f0908d;  // うすべに
$color-choujizome: #ad7d4c;  // ちょうじぞめ
$color-mirucha: #5a544b;  // みるちゃ
$color-kourainando: #2c4f54;  // こうらいなんど
$color-benifujiiro: #cca6bf;  // べにふじいろ
$color-jinzamomi: #ee827c;  // じんざもみ
$color-kouzome: #ad7d4c;  // こうぞめ
$color-aimirucha: #56564b;  // あいみるちゃ
$color-momoshiocha: #1f3134;  // ももしおちゃ
$color-asamurasaki: #c4a3bf;  // あさむらさき
$color-momoiro: #f09199;  // ももいろ
$color-biwacha: #ae7c4f;  // びわちゃ
$color-aikobicha: #555647;  // あいこびちゃ
$color-sabinezu: #47585c;  // さびねず
$color-murasakisuishou: #e7e7eb;  // むらさきすいしょう
$color-tokiiro: #f4b3c2;  // ときいろ
$color-shikancha: #ad7e4e;  // しかんちゃ
$color-sensaicha: #494a41;  // せんさいちゃ
$color-sabitetsuonando: #485859;  // さびてつおなんど
$color-usuumenezu: #dcd6d9;  // うすうめねず
$color-nadeshikoiro: #eebbcb;  // なでしこいろ
$color-kogarekou: #ae7c58;  // こがれこう
$color-iwaicha: #6b6f59;  // いわいちゃ
$color-ainezu: #6c848d;  // あいねず
$color-akatsukinezu: #d3cfd9;  // あかつきねず
$color-haiume: #e8d3c7;  // はいうめ
$color-kurumiiro: #a86f4c;  // くるみいろ
$color-sensaicha: #474b42;  // せんさいちゃ
$color-sabionando: #53727d;  // さびおなんど
$color-botannezu: #d3ccd6;  // ぼたんねず
$color-haizakura: #e8d3d1;  // はいざくら
$color-shibukamiiro: #946243;  // しぶかみいろ
$color-kuromidori: #333631;  // くろみどり
$color-masuhanairo: #5b7e91;  // ますはないろ
$color-kasumiiro: #c8c2c6;  // かすみいろ
$color-awabenifuji: #e6cde3;  // あわべにふじ
$color-kuchibairo: #917347;  // くちばいろ
$color-yanagisusutake: #5b6356;  // やなぎすすたけ
$color-noshimehanairo: #426579;  // のしめはないろ
$color-fujinezu: #a6a5c4;  // ふじねず
$color-sekichikuiro: #e5abbe;  // せきちくいろ
$color-kuwacha: #956f29;  // くわちゃ
$color-kabachairo: #726250;  // かばちゃいろ
$color-omeshionando: #4c6473;  // おめしおなんど
$color-hashitairo: #a69abd;  // はしたいろ
$color-usukoubai: #e597b2;  // うすこうばい
$color-rokoucha: #8c7042;  // ろこうちゃ
$color-utsubushiiro: #9d896c;  // うつぶしいろ
$color-tetsuonando: #455765;  // てつおなんど
$color-usuiro: #a89dac;  // うすいろ
$color-momohanairo: #e198b4;  // ももはないろ
$color-kokuboushoku: #7b6c3e;  // こくぼうしょく
$color-namakabeiro: #94846a;  // なまかべいろ
$color-konnezu: #44617b;  // こんねず
$color-usunezu: #9790a4;  // うすねず
$color-mizugaki: #e4ab9b;  // みずがき
$color-kyarairo: #d8a373;  // きゃらいろ
$color-higosusutake: #897858;  // ひごすすたけ
$color-aitetsu: #393f4c;  // あいてつ
$color-hatobanezumi: #9e8b8e;  // はとばねずみ
$color-tokigaracha: #e09e87;  // ときがらちゃ
$color-edocha: #cd8c5c;  // えどちゃ
$color-kobicha: #716246;  // こびちゃ
$color-aokachi: #393e4f;  // あおかち
$color-hatobairo: #95859c;  // はとばいろ
$color-arazome: #d69090;  // あらぞめ
$color-kabairo: #cd5e3c;  // かばいろ
$color-shirotsurubami: #cbb994;  // しろつるばみ
$color-kachikaeshi: #203744;  // かちかえし
$color-kikyounezu: #95949a;  // ききょうねず
$color-usugaki: #d4acad;  // うすがき
$color-beniukon: #cb8347;  // べにうこん
$color-amairo: #d6c6af;  // あまいろ
$color-kachiiro: #4d4c61;  // かちいろ
$color-murasakinezu: #71686c;  // むらさきねず
$color-choushuniro: #c97586;  // ちょうしゅんいろ
$color-kawarakeiro: #c37854;  // かわらけいろ
$color-hashibamiiro: #bfa46f;  // はしばみいろ
$color-geppaku: #eaf4fc;  // げっぱく
$color-budounezumi: #705b67;  // ぶどうねずみ
$color-umenezu: #c099a0;  // うめねず
$color-kitsuneiro: #c38743;  // きつねいろ
$color-akuiro: #9e9478;  // あくいろ
$color-shirosumireiro: #eaedf7;  // しろすみれいろ
$color-kokiiro: #634950;  // こきいろ
$color-tokiasagi: #b88884;  // ときあさぎ
$color-oudoiro: #c39143;  // おうどいろ
$color-rikyuucha: #a59564;  // りきゅうちゃ
$color-shirahanairo: #e8ecef;  // しらはないろ
$color-murasakitobi: #5f414b;  // むらさきとび
$color-umezome: #b48a76;  // うめぞめ
$color-kohakuiro: #bf783a;  // こはくいろ
$color-uguisucha: #715c1f;  // うぐいすちゃ
$color-aijiro: #ebf6f7;  // あいじろ
$color-koinezu: #4f455c;  // こいねず
$color-suoukou: #a86965;  // すおうこう
$color-akacha: #bb5535;  // あかちゃ
$color-mokuranjiki: #c7b370;  // もくらんじき
$color-shiraai: #c1e4e9;  // しらあい
$color-fujisusutake: #5a5359;  // ふじすすたけ
$color-asasuou: #a25768;  // あさすおう
$color-taisha: #bb5520;  // たいしゃ
$color-sunairo: #dcd3b2;  // すないろ
$color-mizuiro: #bce2e8;  // みずいろ
$color-keshimurasaki: #594255;  // けしむらさき
$color-masoo: #ec6d71;  // まそお
$color-rengairo: #b55233;  // れんがいろ
$color-aburairo: #a19361;  // あぶらいろ
$color-kamenozoki: #a2d7dd;  // かめのぞき
$color-benikeshinezumi: #524748;  // べにけしねずみ
$color-akamurasaki: #eb6ea5;  // あかむらさき
$color-suzumecha: #aa4f37;  // すずめちゃ
$color-rikyuuiro: #8f8667;  // りきゅういろ
$color-hisokuiro: #abced8;  // ひそくいろ
$color-nisemurasaki: #513743;  // にせむらさき
$color-tsutsujiiro: #e95295;  // つつじいろ
$color-danjuuroucha: #9f563a;  // だんじゅうろうちゃ
$color-baikoucha: #887938;  // ばいこうちゃ
$color-sorairo: #a0d8ef;  // そらいろ
$color-haikimidori: #e6eae3;  // はいきみどり
$color-botaniro: #e7609e;  // ぼたんいろ
$color-kakishibuiro: #9f563a;  // かきしぶいろ
$color-rikancha: #6a5d21;  // りかんちゃ
$color-wasurenagusairo: #89c3eb;  // わすれなぐさいろ
$color-sobakiriiro: #d4dcd6;  // そばきりいろ
$color-imayouiro: #d0576b;  // いまよういろ
$color-benitobi: #9a493f;  // べにとび
$color-kimirucha: #918754;  // きみるちゃ
$color-aofujiiro: #84a2d4;  // あおふじいろ
$color-usukumonezu: #d4dcda;  // うすくもねず
$color-nakabeni: #c85179;  // なかべに
$color-haicha: #98623c;  // はいちゃ
$color-nataneyuiro: #a69425;  // なたねゆいろ
$color-byakugun: #83ccd2;  // びゃくぐん
$color-karenoiro: #d3cbc6;  // かれのいろ
$color-barairo: #e9546b;  // ばらいろ
$color-chairo: #965042;  // ちゃいろ
$color-aokuchiba: #ada250;  // あおくちば
$color-asahanada: #84b9cb;  // あさはなだ
$color-urumiiro: #c8c2be;  // うるみいろ
$color-karakurenai: #e95464;  // からくれない
$color-hiwadairo: #965036;  // ひわだいろ
$color-negishiiro: #938b4b;  // ねぎしいろ
$color-usuhanairo: #698aab;  // うすはないろ
$color-rikyuushirocha: #b3ada0;  // りきゅうしろちゃ
$color-ginshu: #c85554;  // ぎんしゅ
$color-tobiiro: #95483f;  // とびいろ
$color-hiwacha: #8c8861;  // ひわちゃ
$color-nandoiro: #008899;  // なんどいろ
$color-chanezumi: #a99e93;  // ちゃねずみ
$color-akabeni: #c53d43;  // あかべに
$color-kakicha: #954e2a;  // かきちゃ
$color-yanagicha: #a1a46d;  // やなぎちゃ
$color-asagiiro: #00a3af;  // あさぎいろ
$color-kurumizome: #a58f86;  // くるみぞめ
$color-benihi: #e83929;  // べにひ
$color-bengarairo: #8f2e14;  // べんがらいろ
$color-miruiro: #726d40;  // みるいろ
$color-hanaasagi: #2a83a2;  // はなあさぎ
$color-edonezu: #928178;  // えどねず
$color-aka: #e60033;  // あか
$color-akasabiiro: #8a3319;  // あかさびいろ
$color-uguisuiro: #928c36;  // うぐいすいろ
$color-shinbashiiro: #59b9c6;  // しんばしいろ
$color-susuiro: #887f7a;  // すすいろ
$color-shoujouhi: #e2041b;  // しょうじょうひ
$color-kasshoku: #8a3b00;  // かっしょく
$color-ryokuoushoku: #dccb18;  // りょくおうしょく
$color-amairo: #2ca9e1;  // あまいろ
$color-choujicha: #b4866b;  // ちょうじちゃ
$color-kurenai: #d7003a;  // くれない
$color-kuriume: #852e19;  // くりうめ
$color-hiwairo: #d7cf3a;  // ひわいろ
$color-tsuyukusairo: #38a1db;  // つゆくさいろ
$color-fushizome: #b28c6e;  // ふしぞめ
$color-kokihi: #c9171e;  // こきひ
$color-benihihada: #7b4741;  // べにひはだ
$color-matchairo: #c5c56a;  // まっちゃいろ
$color-ao: #0095d9;  // あお
$color-soudenkaracha: #a16d5d;  // そうでんからちゃ
$color-hiiro: #d3381c;  // ひいろ
$color-ebicha: #773c30;  // えびちゃ
$color-wakakusairo: #c3d825;  // わかくさいろ
$color-usuai: #0094c8;  // うすあい
$color-tonocha: #9f6f55;  // とのちゃ
$color-akani: #ce5242;  // あかに
$color-karacha: #783c1d;  // からちゃ
$color-kimidori: #b8d200;  // きみどり
$color-hanadairo: #2792c3;  // はなだいろ
$color-senchairo: #8c6450;  // せんちゃいろ
$color-beniaka: #d9333f;  // べにあか
$color-kuriiro: #762f07;  // くりいろ
$color-wakameiro: #e0ebaf;  // わかめいろ
$color-konpeki: #007bbb;  // こんぺき
$color-ginsusudake: #856859;  // ぎんすすだけ
$color-enji: #b94047;  // えんじ
$color-shakudouiro: #752100;  // しゃくどういろ
$color-wakanairo: #d8e698;  // わかないろ
$color-usugunjou: #5383c3;  // うすぐんじょう
$color-kigaracha: #765c47;  // きがらちゃ
$color-ake: #ba2636;  // あけ
$color-sabiiro: #6c3524;  // さびいろ
$color-wakanaeiro: #c7dc68;  // わかなえいろ
$color-usuhanazakura: #5a79ba;  // うすはなざくら
$color-susutakeiro: #6f514c;  // すすたけいろ
$color-akaneiro: #b7282e;  // あかねいろ
$color-sekkasshoku: #683f36;  // せっかっしょく
$color-aoni: #99ab4e;  // あおに
$color-gunjouiro: #4c6cb3;  // ぐんじょういろ
$color-kogecha: #6f4b3e;  // こげちゃ
$color-beniebicha: #a73836;  // べにえびちゃ
$color-chakasshoku: #664032;  // ちゃかっしょく
$color-kusairo: #7b8d42;  // くさいろ
$color-kakitsubatairo: #3e62ad;  // かきつばたいろ
$color-kurotsurubami: #544a47;  // くろつるばみ
$color-suou: #9e3d3f;  // すおう
$color-kurikawacha: #6d3c32;  // くりかわちゃ
$color-kokeiro: #69821b;  // こけいろ
$color-ruriiro: #1e50a2;  // るりいろ
$color-kenpouiro: #543f32;  // けんぽういろ
$color-shinku: #a22041;  // しんく
$color-kurocha: #583822;  // くろちゃ
$color-moegi: #aacf53;  // もえぎ
$color-usuhanada: #507ea4;  // うすはなだ
$color-kuriiro: #554738;  // くりいろ
$color-koikurenai: #a22041;  // こいくれない
$color-ebicha: #6c2c2f;  // えびちゃ
$color-naeiro: #b0ca71;  // なえいろ
$color-rurikon: #19448e;  // るりこん
$color-binroujizome: #433d3c;  // びんろうじぞめ
$color-zougeiro: #f8f4e6;  // ぞうげいろ
$color-ebiiro: #640125;  // えびいろ
$color-wakabairo: #b9d08b;  // わかばいろ
$color-konruri: #164a84;  // こんるり
$color-kurotobi: #432f2f;  // くろとび
$color-neriiro: #ede4cd;  // ねりいろ
$color-kanzouiro: #f8b862;  // かんぞういろ
$color-matsubairo: #839b5c;  // まつばいろ
$color-aiiro: #165e83;  // あいいろ
$color-akasumi: #3f312b;  // あかすみ
$color-kaihakushoku: #e9e4d4;  // かいはくしょく
$color-koujiiro: #f6ad49;  // こうじいろ
$color-natsumushiiro: #cee4ae;  // なつむしいろ
$color-seiran: #274a78;  // せいらん
$color-kurobeni: #302833;  // くろべに
$color-mushiguriiro: #ebe1a9;  // むしぐりいろ
$color-kincha: #f39800;  // きんちゃ
$color-hiwamoegi: #82ae46;  // ひわもえぎ
$color-kokihanada: #2a4073;  // こきはなだ
$color-shiro: #ffffff;  // しろ
$color-ominaeshi: #f2f2b0;  // おみなえし
$color-mikaniro: #f08300;  // みかんいろ
$color-yanagiiro: #a8c97f;  // やなぎいろ
$color-koniro: #223a70;  // こんいろ
$color-gofuniro: #fffffc;  // ごふんいろ
$color-karekusairo: #e4dc8a;  // かれくさいろ
$color-entaniro: #ec6d51;  // えんたんいろ
$color-aoshirotsurubami: #9ba88d;  // あおしろつるばみ
$color-konjou: #192f60;  // こんじょう
$color-unohanairo: #f7fcfe;  // うのはないろ
$color-tankou: #f8e58c;  // たんこう
$color-ouni: #ee7948;  // おうに
$color-yanaginezu: #c8d5bb;  // やなぎねず
$color-tomekon: #1c305c;  // とめこん
$color-hakuji: #f8fbf8;  // はくじ
$color-shiracha: #ddbb99;  // しらちゃ
$color-kakiiro: #ed6d3d;  // かきいろ
$color-urahayanagi: #c1d8ac;  // うらはやなぎ
$color-koiai: #0f2350;  // こいあい
$color-kinariiro: #fbfaf5;  // きなりいろ
$color-akashirotsurubami: #d7a98c;  // あかしろつるばみ
$color-kiaka: #ec6800;  // きあか
$color-wasabiiro: #a8bf93;  // わさびいろ
$color-tetsukon: #17184b;  // てつこん
$color-nyuuhakushoku: #f3f3f3;  // にゅうはくしょく
$color-araigaki: #f2c9ac;  // あらいがき
$color-ninjiniro: #ec6800;  // にんじんいろ
$color-oitakeiro: #769164;  // おいたけいろ
$color-shikkoku: #0d0015;  // しっこく
$color-shironeri: #f3f3f2;  // しろねり
$color-torinokoiro: #fff1cf;  // とりのこいろ
$color-daidaiiro: #ee7800;  // だいだいいろ
$color-byakuroku: #d6e9ca;  // びゃくろく
$color-awafujiiro: #bbc8e6;  // あわふじいろ
$color-soshoku: #eae5e3;  // そしょく
$color-hachimitsuiro: #fddea5;  // はちみついろ
$color-terigaki: #eb6238;  // てりがき
$color-usumoegi: #93ca76;  // うすもえぎ
$color-fujiiro: #bbbcde;  // ふじいろ
$color-shiraumenezu: #e5e4e6;  // しらうめねず
$color-hadairo: #fce2c4;  // はだいろ
$color-akadaidai: #ea5506;  // あかだいだい
$color-yanagizome: #93b881;  // やなぎぞめ
$color-benikakesorairo: #8491c3;  // べにかけそらいろ
$color-shironezu: #dcdddd;  // しろねず
$color-usutamagoiro: #fde8d0;  // うすたまごいろ
$color-kinaka: #ea5506;  // きんあか
$color-usumoegi: #badcad;  // うすもえぎ
$color-benimidori: #8491c3;  // べにみどり
$color-kinunezu: #dddcd6;  // きぬねず
$color-yuuou: #f9c89b;  // ゆうおう
$color-shuiro: #eb6101;  // しゅいろ
$color-fukagawanezumi: #97a791;  // ふかがわねずみ
$color-konkikyou: #4d5aaf;  // こんききょう
$color-haiao: #c0c6c9;  // はいあお
$color-sharegaki: #f7bd8f;  // しゃれがき
$color-komugiiro: #e49e61;  // こむぎいろ
$color-wakamidori: #98d98e;  // わかみどり
$color-hanairo: #4d5aaf;  // はないろ
$color-ginnezu: #afafb0;  // ぎんねず
$color-akakou: #f6b894;  // あかこう
$color-niiro: #e45e32;  // にいろ
$color-asamidori: #88cb7f;  // あさみどり
$color-konai: #4a488e;  // こんあい
$color-usunibi: #adadad;  // うすにび
$color-tonokoiro: #f4dda5;  // とのこいろ
$color-kicha: #e17b34;  // きちゃ
$color-usumidori: #69b076;  // うすみどり
$color-benikikyou: #4d4398;  // べにききょう
$color-usuzumiiro: #a3a3a2;  // うすずみいろ
$color-nikuiro: #f1bf99;  // にくいろ
$color-nikkeiiro: #dd7a56;  // にっけいいろ
$color-aonibi: #6b7b6e;  // あおにび
$color-kikyouiro: #5654a2;  // ききょういろ
$color-suzuiro: #9ea1a3;  // すずいろ
$color-hitoiro: #f1bf99;  // ひといろ
$color-akakuchibairo: #db8449;  // あかくちばいろ
$color-seijinezu: #bed2c3;  // せいじねず
$color-fujinando: #706caa;  // ふじなんど
$color-sunezumi: #9fa0a0;  // すねずみ
$color-choujiiro: #efcd9a;  // ちょうじいろ
$color-kourozen: #d66a35;  // こうろぜん
$color-usuao: #93b69c;  // うすあお
$color-benikakehanairo: #68699b;  // べにかけはないろ
$color-nezumiiro: #949495;  // ねずみいろ
$color-kouiro: #efcd9a;  // こういろ
$color-tanpopoiro: #ffd900;  // たんぽぽいろ
$color-sabiseiji: #a6c8b2;  // さびせいじ
$color-shioniro: #867ba9;  // しおんいろ
$color-genjinezu: #888084;  // げんじねず
$color-usukou: #f0cfa0;  // うすこう
$color-kiiro: #ffd900;  // きいろ
$color-rokushouiro: #47885e;  // ろくしょういろ
$color-shirafujiiro: #dbd0e6;  // しらふじいろ
$color-haiiro: #7d7d7d;  // はいいろ
$color-usuki: #edd3a1;  // うすき
$color-chuuki: #ffea00;  // ちゅうき
$color-chitosemidori: #316745;  // ちとせみどり
$color-fujimurasaki: #a59aca;  // ふじむらさき
$color-namariiro: #7b7c7d;  // なまりいろ
$color-kareiro: #e0c38c;  // かれいろ
$color-nanohanairo: #ffec47;  // なのはないろ
$color-wakatakeiro: #68be8d;  // わかたけいろ
$color-sumireiro: #7058a3;  // すみれいろ
$color-nibiiro: #727171;  // にびいろ
$color-usukou: #f3bf88;  // うすこう
$color-kihadairo: #fef263;  // きはだいろ
$color-midori: #3eb370;  // みどり
$color-aomurasaki: #674598;  // あおむらさき
$color-sumi: #595857;  // すみ
$color-anzuiro: #f7b977;  // あんずいろ
$color-tamagoiro: #fcd575;  // たまごいろ
$color-tokiwairo: #007b43;  // ときわいろ
$color-shoubuiro: #674196;  // しょうぶいろ
$color-dobunezumi: #595455;  // どぶねずみ
$color-shinonomeiro: #f19072;  // しののめいろ
$color-hanabairo: #fbd26b;  // はなばいろ
$color-chigusanezu: #bed3ca;  // ちぐさねず
$color-rindouiro: #9079ad;  // りんどういろ
$color-keshizumiiro: #524e4d;  // けしずみいろ
$color-akebonoiro: #f19072;  // あけぼのいろ
$color-kariyasuiro: #f5e56b;  // かりやすいろ
$color-chigusairo: #92b5a9;  // ちぐさいろ
$color-edomurasaki: #745399;  // えどむらさき
$color-aisumicha: #474a4d;  // あいすみちゃ
$color-sangoshuiro: #ee836f;  // さんごしゅいろ
$color-toumorokoshiiro: #eec362;  // とうもろこしいろ
$color-seijiiro: #7ebea5;  // せいじいろ
$color-honmurasaki: #65318e;  // ほんむらさき
$color-youkaniro: #383c3c;  // ようかんいろ
$color-kokikuchinashi: #eb9b6f;  // こきくちなし
$color-kanariairo: #ebd842;  // かなりあいろ
$color-aotakeiro: #7ebeab;  // あおたけいろ
$color-budouiro: #522f60;  // ぶどういろ
$color-rouiro: #2b2b2b;  // ろういろ
$color-sohi: #e0815e;  // そひ
$color-kikuchinashiiro: #ffdb4f;  // きくちなしいろ
$color-tokiwamidori: #028760;  // ときわみどり
$color-fukamurasaki: #493759;  // ふかむらさき
$color-kuro: #2b2b2b;  // くろ
$color-usukihi: #df7163;  // うすきひ
$color-kuchinashiiro: #fbca4d;  // くちなしいろ
$color-tokusairo: #3b7960;  // とくさいろ
$color-shikoku: #2e2930;  // しこく
$color-karasubairo: #180614;  // からすばいろ
$color-masoho: #d57c6b;  // まそほ
$color-himawariiro: #fcc800;  // ひまわりいろ
$color-biroudo: #2f5d50;  // びろうど
$color-murasaki: #884898;  // むらさき
$color-tetsuguro: #281a14;  // てつぐろ
$color-araishu: #d0826c;  // あらいしゅ
$color-yamabukiiro: #f8b500;  // やまぶきいろ
$color-mushiao: #3a5b52;  // むしあお
$color-usubudou: #c0a2c7;  // うすぶどう
$color-nurebairo: #000b00;  // ぬればいろ
$color-enshuucha: #ca8269;  // えんしゅうちゃ
$color-ukoniro: #fabf14;  // うこんいろ
$color-kawairo: #475950;  // かわいろ
$color-shikon: #460e44;  // しこん
$color-kokutan: #250d00;  // こくたん
$color-benikabairo: #bb5548;  // べにかばいろ
$color-touou: #f7c114;  // とうおう
$color-fukamidori: #00552e;  // ふかみどり
$color-ankoushoku: #74325c;  // あんこうしょく
$color-kenpoukurocha: #241a08;  // けんぽうくろちゃ
$color-soho: #ab6953;  // そほ
$color-konjiki: #e6b422;  // こんじき
$color-tetsuiro: #005243;  // てついろ
$color-kuwanomiiro: #55295b;  // くわのみいろ
$color-ankokushoku: #16160e;  // あんこくしょく
