@charset "UTF-8";

/* === フォント定義 === */
@font-face {
    font-family: "Computer Modern Sans Serif";
    src: url("/assets/font/cmunss.subset.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "Computer Modern Sans Serif";
//     src: url("/assets/font/cmunsi.subset.woff2") format("woff2");
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }
@font-face {
    font-family: "Computer Modern Sans Serif";
    src: url("/assets/font/cmunsx.subset.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
// @font-face {
//     font-family: "Computer Modern Sans Serif";
//     src: url("/assets/font/cmunso.subset.woff2") format("woff2");
//     font-weight: bold;
//     font-style: italic;
//     font-display: swap;
// }
@font-face {
    font-family: "Computer Modern Serif";
    src: url("/assets/font/cmunrm.subset.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url("/assets/font/cmunti.subset.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Computer Modern Serif";
    src: url("/assets/font/cmunbx.subset.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Computer Modern Typewriter";
    src: url("/assets/font/cmunvt.subset.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Kozan";
    src: url("/assets/font/janame.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
