/* === ユーティリティ === */
.duration {
  font-weight:bold;
  color: var(--color-emphasis-muted); 
}

.position {
  font-weight: bold; 
  color: var(--color-emphasis-muted); 
}

.separator {
    color: $color-separator; 
}

.note,
.note a {
  color: $color-text-soft;
}

.lozenge-row::before {
  content: "*  　*  　*";
  display: block;
  text-align: center;
}
