@charset "UTF-8";

/* === List Publications === */

.pub-list {
    li {
        margin-left: 0; 
        margin-bottom: 1.6rem; 
        list-style: none; 

        &::marker {
            content: none; 
        }
    }

    .pub-item {
        display: flex;
        align-items: flex-start;
        gap: 1.3rem;

        @include respond-max($bp-mobile) {
            gap: .8rem;
        }
    }

    .pub-cover {
        flex: 0 0 5.25rem;
        width: 5.25rem;
        height: 7.25rem;
        display: block;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include respond-max($bp-mobile) {
            // flex-basis: 4.5rem;
            // width: 4.5rem;
            // height: 6.25rem;
            display: none; 
        }
    }

    .pub-content {
        min-width: 0;
        flex: 1;
    }

    @include respond-max($bp-mobile) {
        padding-left: 0;

        li {
            margin-bottom: 1rem;
        }
    }

    .pub-links, .draft-links {
        a {
            font-size: $font-size-medium; 
            display: inline-block; 
            font-weight: 500;
            color: var(--color-link-strong);
        }
    }

    .pub-links {
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            
            li {
                display: inline-block;
                margin-bottom: 0rem; 
                
                + li::before {
                    content: "・";
                    margin: 0 .2rem; 
                    color: $color-separator;
                }
            }

            a {
                display: inline-block;
            }
        }

    }

    .draft-links {
        a {
            margin-left: .7rem; 
            &::before { content: "["; color: $color-text-soft; font-weight: 400; }
            &::after { content: "]"; color: $color-text-soft; font-weight: 400; }
        }
    }
}

.pub-title {
    font-weight: 600; 
}

.pub-coauthors {
    color: $color-text-soft; 
}

.pub-journal {
  color: var(--color-journal-text);
  white-space: nowrap;
  display: inline-block;
  transform: translateX($oblique-translate) skewX($oblique-deg);
  letter-spacing: -0.007em;
  font-weight: 500; 
}

.pub-state {
  white-space: nowrap;
}
