<!DOCTYPE html>
<head>
{% include head.html %}
{% if page.layout == "post" %}
{% include head_post.html %}
{% endif %}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HCEG8X3DQT"></script>
<script>
  const isInternal = localStorage.getItem("osawa.analytics.ga4.optout") === "1";

  if (!isInternal) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-HCEG8X3DQT');
  }
</script>
</head>

<body>
<div class="page-wrapper">
{% include header.html %}

<main class="page-content">
{{ content }}
</main>

{% include footer.html %}
</div>
</body>
</html>