---
layout: default
--- 

<div class="post-container">
    <div class="post-content">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-info">
            <time class="post-date">{{ page.date | date: "%B %-d (%a), %Y" }}</time>{% if page.misc %}<span class="post-misc">{{ page.misc }}</span>{% endif %}
        </div>
        {{ content }}
    </div>
    <div class="post-nav">
        {% if page.previous %}
        <a class="prev-post" href="{{ page.previous.url }}">
            <span class="post-arrow">＜</span> {% if page.previous.running_head %}{{ page.previous.running_head }}{% endif %}
        </a>
        {% else %}
        <span class="prev-post"></span>
        {% endif %}

        {% if page.next %}
        <a class="next-post" href="{{ page.next.url }}">
            {% if page.next.running_head %}{{ page.next.running_head }}{% endif %} <span class="post-arrow">＞</span>
        </a>
        {% else %}
        <span class="next-post"></span>
        {% endif %}
    </div>
    <div class="post-footer">
        <p>
            <a href="https://github.com/{{ site.github.user }}/{{ site.github.repo }}/issues/new?title={{ page.title | url_encode }}&body=対象記事：{{ site.url }}{{ page.url | url_encode }}" target="_blank">
                誤り等を報告 (GitHub)
            </a>
        </p>
    </div>
</div>
